@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

img {
  vertical-align: top;
}

::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c4c4c4;
}

::-ms-input-placeholder {
  color: #c4c4c4;
}

header {
  width: 100%;
  height: auto;
  background-color: white;
  margin-bottom: 50px;
}
header .container_first {
  width: 1160px;
  height: 100%;
  margin: 0px auto;
  padding: 18px 20px 18px 20px;
  display: flex;
  justify-content: space-between;
}
header .container_first img {
  width: 210px;
  height: 35px;
  margin-right: 14px;
}
header .container_first input {
  width: 200px;
  height: 40px;
  border: 2px solid #ececec;
  padding: 0 12px;
  font-size: 16px;
  margin-right: 14px;
}
header .container_first button {
  width: 100px;
  height: 40px;
  background-color: #eaeaea;
  border: 0;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #666;
}
header .container_second {
  width: 100%;
  height: 45px;
  background: radial-gradient(circle, #ff8d00 50%, #ff6643 100%);
}
header .container_second .links_container {
  width: 1160px;
  height: 45px;
  margin: 0px auto;
  padding: 0px 20px 0px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  display: none;
}

#comments_title {
  margin: 40px 0px 20px 0px;
}

main {
  width: 100%;
  min-height: 1000px;
}
main .main_container {
  width: 804px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
main .main_container h1 {
  color: #444;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
main .main_container .container_title {
  width: 100%;
  margin-top: 30px;
  display: flex;
}
main .main_container .container_title img {
  left: 0;
}
main .main_container .container_title .movie_description {
  width: 400px;
  font-size: 19px;
  line-height: 1.38;
  margin-left: 30px;
}
main .main_container .container_title .movie_description p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}
main .main_container .comment_inputs {
  width: 300px;
  display: flex;
  flex-direction: column;
}
main .main_container .comment_inputs p {
  margin: 10px 0px 10px 0px;
  color: black;
  font-weight: 500;
  font-size: 24px;
}
main .main_container .comment_inputs #input-name {
  border: 1px solid black;
  height: 30px;
  padding-left: 5px;
}
main .main_container .comment_inputs textarea {
  width: 350px;
  height: 140px;
  border: 1px solid black;
  padding: 20px 0px 0px 20px;
  text-align: left;
}
main .main_container .comment_inputs #input-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  font-size: 20px;
  background: black;
  color: white;
}
main .main_container .comment_inputs #name-err,
main .main_container .comment_inputs #text-err {
  width: 250px;
  font-size: 16px;
  color: red;
}
main .main_container .container_comments {
  width: 180px;
  min-height: 500px;
}
main .main_container .container_comments .container_comment {
  width: 500px;
  min-height: 200px;
  border-bottom: 1px solid orangered;
}
main .main_container .container_comments .container_comment .comment_name {
  margin: 30px 0px 0px 10px;
  color: black;
  font-size: 20px;
}
main .main_container .container_comments .container_comment .comment_text {
  margin: 20px 0px 0px 10px;
  color: black;
  width: 400px;
  word-wrap: break-word;
  height: auto;
  font-size: 20px;
}
main .main_container .container_comments .container_comment .comment_time {
  margin: 10px 0px 20px 10px;
  color: black;
  font-size: 20px;
}
main .main_container .container_comments .container_comment img {
  width: 50px;
  height: 50px;
  margin: 0px 0px 20px 10px;
}

.menu_icon {
  display: none;
}

.like-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-image: url(../pictures/main/unlike.png);
}

.liked {
  width: 50px;
  height: 50px;
  color: #ff3252;
  font-size: 3em;
  color: #ff3252;
  content: "♥";
  left: 50%;
  top: 50%;
}

@media (max-width: 1300px) {
  header .container_first {
    width: 1000px;
  }
  header .container_second .links_container {
    width: 1000px;
  }
}
@media (max-width: 1000px) {
  header .container_first {
    width: 767px;
  }
  header .container_second .links_container {
    width: 767px;
    padding: 0px;
  }
}
@media (max-width: 850px) {
  header .container_first {
    width: 608px;
    padding: 18px 0px 18px 0px;
  }
  header .container_first .menu_icon {
    width: 50px;
    height: 50px;
    display: inline;
  }
  header .container_first input {
    display: none;
  }
  header .container_first button {
    display: none;
  }
  header .container_second {
    height: 70px;
  }
  header .container_second .links_container {
    width: 508px;
    height: 70px;
    flex-wrap: wrap;
  }
  header .container_second .links_container .header_link {
    margin-right: 30px;
  }
  main {
    width: 100%;
    min-height: 100px;
  }
  main .main_container {
    width: 504px;
    height: 700px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  main .main_container h1 {
    width: 400px;
  }
  main .main_container .container_title {
    display: flex;
    flex-direction: column;
  }
  main .main_container .container_title img {
    width: 300px;
    left: 0;
  }
  main .main_container .container_title .movie_description {
    margin-left: 0px;
    margin-top: 30px;
  }
}
@media (max-width: 620px) {
  header .container_first {
    width: 475px;
  }
  header .container_second .links_container {
    display: none;
  }
  main {
    width: 100%;
    min-height: 100px;
  }
  main .main_container {
    width: 374px;
    height: 700px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  main .main_container h1 {
    width: 400px;
  }
  main .main_container .container_title {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  main .main_container .container_title img {
    width: 300px;
    left: 0;
  }
  main .main_container .container_title .movie_description {
    margin-left: 0px;
    margin-top: 30px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown button {
    background: radial-gradient(circle, #ff8d00 50%, #ff6643 100%);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px 0px 20px 20px;
  }
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin: -20px 0px 0px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown .dropdown-content li:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover button {
    background-color: #3e8e41;
  }
}
@media (max-width: 480px) {
  header .container_first {
    width: 90%;
  }
  header .container_first .menu_icon {
    width: 40px;
    height: 40px;
  }
  header .container_second .links_container {
    width: 325px;
    display: none;
  }
  main {
    min-height: 600px;
  }
  main .main_container {
    width: 300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  main .main_container h1 {
    width: 300px;
    font-size: 22px;
  }
  main .main_container .container_title .movie_description {
    width: 300px;
    margin-left: 0px;
  }
  main .main_container .comment_inputs {
    width: 300px;
  }
  main .main_container .comment_inputs #input-name {
    width: 250px;
  }
  main .main_container .comment_inputs textarea {
    width: 300px;
  }
  main .main_container .container_comments {
    width: 180px;
    min-height: 300px;
  }
  main .main_container .container_comments .container_comment {
    width: 300px;
    min-height: 200px;
  }
  main .main_container .container_comments .container_comment .comment_text {
    margin: 20px 0px 0px 10px;
    color: black;
    width: 300px;
    word-wrap: break-word;
    height: auto;
    font-size: 20px;
  }
  main .main_container .container_comments .container_comment .comment_time {
    margin: 10px 0px 20px 10px;
    color: black;
    font-size: 20px;
  }
  main .main_container .container_comments .container_comment img {
    width: 50px;
    height: 50px;
    margin: 0px 0px 20px 10px;
  }
}

/*# sourceMappingURL=index.css.map */
